doctype html
html
  head
    title A SQL Library App
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    link(rel='stylesheet', href='/static/stylesheets/customize.css')
  body
  
    block content
    script(src="/static/javascripts/pagination.js")
    //- script(src="/static/javascripts/customizeAlert.js")
