extends layout.pug
block content 
    
    a(href='/') â† Back

        h1 No one gets through life without losing a few things
        br
        h2= error.message
        h2= error.status
        pre= error.stack